# Runtime dependencies
Django
six
requests
psycopg2
amqp>=2.3.2
billiard>=3.5.0.4
celery>=4.2.1
kombu>=4.2.1
vine>=1.1.4

# Testing
coverage
flake8
tox

# Documentation
Sphinx
sphinx-rtd-theme

# Other tools
bumpversion==0.5.3
wheel==0.38.1
